@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.main-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 2rem 0;
  user-select: none;

  font-size: 1.6rem;
  color: $gray-dark-1;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
