@import '../../assets/sass/mixins';

.main-view {
  @include card;

  flex: 3;

  max-height: $max-height-layout;
  overflow: auto;
}

@media (max-width: 480px) {
  .main-view {
    display: none;
  }
}
