@import '../../assets/sass/mixins';

.small-view {
  @include card;

  // flex: 1;
  width: 310px;
  padding-top: 2.4rem;

  max-height: $max-height-layout;

  // overflow-y: auto;
  // overflow-x: hidden;
  overflow: auto;
}
