@import '../../assets/sass/mixins';

.small-view {
  @include card;

  width: 310px;
  padding-top: 2.4rem;

  max-height: $max-height-layout;

  overflow: auto;
}

@media (max-width: 856px) {
  .small-view {
    display: none;
  }
}

@media (max-width: 480px) {
  .small-view {
    display: block;
  }
}
