@import '../../assets/sass/variables';
@import '../../assets/sass/animations';

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;

  & > div:last-child {
    margin-bottom: 1rem;
  }

  &.to-top {
    @include animation-to-top(10%, 0.5s);
  }
}
