@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';
@import '../../assets/sass/animations';

.event-detail {
  @include popup-card(10rem);
  gap: 0;
  padding-bottom: 1rem;

  cursor: context-menu;

  &.to-right {
    @include animation-to-right;
  }
  &.to-left {
    @include animation-to-left;
  }

  &__header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3.2rem;
    padding: 0.8rem 0;

    font-size: 1.6rem;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.8rem;
      border-radius: 50%;
      transition: all 0.1s ease-in-out;

      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    font-size: 1.8rem;

    &-header {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
    }
    &-title {
      font-size: 2.2rem;
    }
    &-time {
      font-size: 1.6rem;
    }

    &-meeting {
      background-color: $google-meet-color;
      padding: 1rem 2rem;
      border-radius: 6px;

      transition: all 0.1s ease-in-out;
      cursor: pointer;

      & a {
        color: $white-color;
        text-decoration: none;
      }
      &:hover {
        background-color: $google-meet-color-light;
      }
    }

    &-guest {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      & div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
      }

      & img {
        border-radius: 50%;
        width: 2.4rem;
        height: 2.4rem;
      }

      & a {
        color: $gray-dark-2;
        text-decoration: none;
      }

      // !not working
      & span {
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
      }
    }

    &-description {
      text-align: justify;
    }

    &-type {
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: 1px;
      color: $blue-dark;
    }

    &-to-detail-page {
      align-self: flex-end;
      overflow: hidden;

      & span {
        transform: translateX(100%);
        opacity: 0;
        user-select: none;

        // transition: all 0.4s ease-in-out;
        &.active {
          transform: translateX(0);
          opacity: 1;
          animation: float-left 0.4s ease-in-out;
        }
      }

      & .icon-link {
        transform: translateX(-300%);
        transition: all 0.4s ease-in-out;

        &.active {
          transform: translateX(0);
        }
      }

      & a {
        color: $blue-dark-2;
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }
}

@keyframes float-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
