$white-color: #fff;
$border-color: #ddd;
$hover-color: #edf0f5;
$google-meet-color: #1a73e9;
$google-meet-color-light: #3181eb;

$gray-light-1: #dee2e6;
$gray-light-2: #ced4da;
$gray-dark-1: #868e96;
$gray-dark-2: #495057;

$tile-color: #e4f6ed;

$blue-light: #5684ae;
$blue-light-1: #74c0fc;
$blue-light-2: #d0ebff;
$blue-dark: #0f4c81;
$blue-dark-2: #1971c2;

$orange-light: #ffe4c8;
$orange-dark: #f9be81;
$cyan-light: #e0faf9;

$max-height-layout: 90vh;
// $max-height-layout: 600px;
